
# Renseigne ces variables en local puis copie-les dans Vercel
NEXT_PUBLIC_SUPABASE_URL=https://vxvmptmorinwhfdzcwin.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ4dm1wdG1vcmlud2hmZHpjd2luIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk2NTk3MjEsImV4cCI6MjA3NTIzNTcyMX0.9keDIxJdBfBdzOox2oA7Gwd-4yAOckE8zafr-i29kSc
NEXT_PUBLIC_SITE_NAME=Bakery Sellers